<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IService" maxBufferSize="400000" maxReceivedMessageSize="400000">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://192.168.33.102:6000/mywcf" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IService" contract="MyWcf.IService"
                name="NetTcpBinding_IService" />
        </client>
    </system.serviceModel>
</configuration>